# ============================================================================#
#                                                           Environment Configuration                                                                                        #
# ============================================================================#

# Database Configuration
POSTGRES_HOST=database
POSTGRES_PORT=5432
POSTGRES_USER=KnovaDev
POSTGRES_PASSWORD=KnovaDevPassword
POSTGRES_DB=catchub_db

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379

# Backend Configuration
NODE_ENV=development
PORT=3000
